extends layout

block content
  h1= Products
  form(id="productosInput" method="post" action="/productos/view")
    - for (var x = 0; x < productsNumber; x++)
        br
        label Product name
        input(type="text" name="name[]")
        br
        label Price
        input(type="text" name="price[]")
        br
    input(type="submit")