extends layout

block content
  h1= 'Products'
  table
    tr
      th #
      th Product name
      th Price
    - for (var x = 0; x < length; x++)
      tr
        td= x
        td= stock[x].name
        td= stock[x].price