extends layout

block content
  h1= Products
  form(id="productosNumber" method="post" action="/productos/create")
    label Número de productos
    input(type="text" name="number")
    input(type="submit")