extends layout

block content
  h1= NuevoAlumno
  p Alta de nuevo alumno
  form(id="newAlumno" method="post" action="/alumnos/created")
    h1 Nombre alumno
    br
    input(type="text" name="nombre")
    br
    h1 Apellido alumno
    br
    input(type="text" name="apellido")
    br
    h1 Edad alumno
    br
    input(type="text" name="edad")
    br
    input(type="submit")