extends layout

block content
  h1= NuevaMatricula
  p Alta de nueva asignatura
  form(id="newAsignatura" method="post" action="/asignatura/save")
    label Nombre asignatura
    input(type="text" name="nombre")
    br
    label Alumnos de la asignatura
    br
    each alumno in alumnos
      label= alumno.name + " " + alumno.surname
      input(type="checkbox" name="alumnos[]" value=`${alumno.id}`)
      br
    input(type="submit")

