extends layout

block content
  h1 Login page
  form(id="login_form" method="post" action="/auth")
    label usuario
    br
    input(type="text" name="user")
    br
    label contraseña
    br
    input(type="text" name="password")
    br
    input(type="submit" value="Log In")
    br
    br
  a(href= "/new")
    input(type="button" value="Sign Up")