extends layout

block content
  h1 Create User
  form(id="login_form" method="post" action="/create")
    label usuario
    br
    input(type="text" name="user")
    br
    label contraseña
    br
    input(type="text" name="password")
    br
    label rol
    br
    input(type="text" name="rol")
    br
    input(type="submit" value="Crear usuario")