extends layout

block content
  h1= Futbol
  form(id="futbol_create" method="post" action="/futbol/view")
    - for(i = 0;i < numPlayers;i++)
      label Jugador #{i}
      input(type="text" name="players[]")
      br
      - for(j = 0;j < numMatches;j++)
        label Goles partido #{j}
        input(type="text" name='scores['+j+'][]')
        br
    input(type="submit")