extends layout

block content
  h1= Futbol
  form(id="futbol_number" method="post" action="/futbol/create")
    label Número de jugadores
    input(type="text" name="players")
    br
    label Número de partidos
    input(type="text" name="matches")
    br
    input(type="submit")