extends layout

block content
  h1= Futbol
  table
    tr
    - var n = 0;
      while n <= numMatches
        if n==0
          th Jugadores
        else 
          th Partido #{n}
        - n++
    - for(i=0;i<numPlayers;i++)
      tr
        td #{jugadores[i].name}
        - for(j=0;j<numMatches;j++)
          td #{jugadores[i].scores[j]}