extends layout 

block content
    h1= 'Subir nuevo libro'
    form(id="nuevo_libro" method="post" action="/books/create" enctype="multipart/form-data")
        label Nombre
        br
        input(type="text" name="nombre")
        br
        br
        label Descripción
        br
        input(type="text" name="descripcion")
        br
        br
        label Editorial
        br
        input(type="text" name="editorial")
        br
        br
        label Archivo
        br
        input(type="file" name="archivo_libro")
        br
        br
        input(type="submit")