extends layout 

block content
    h1= "Lista de libros"
    table
        tr
            th Nombre
            th Descripción
            th Editorial
            th Fecha subida
            th Descarga
        - for(i=0;i<numLibros;i++)
            tr
                td #{libros[i].nombre}
                td #{libros[i].descripcion}
                td #{libros[i].editorial}
                td #{libros[i].fechaSubida}
                td #{libros[i].file.path}